html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: calc(100vh - 100px);
  max-width: 450px;
  display: flex;
  flex-direction: column;
  // overflow-x: hidden;
  background: #fff;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;

  &.underline {
    text-decoration: underline;
  }
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &.purple_btn {
    background-color: #514a9d;
    border-radius: 50px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #fff;

    &:active {
      background-color: #403897;
    }
  }
}

// SVG

svg {
}

/* Animations */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.page-header-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #000000;
}
